{% extends 'admin.html.twig' %}

{% block title %}Edit AutoGlass{% endblock %}

{% block table %}
    <h1>Edit AutoGlass</h1>

    {{ include('admin/auto_glass/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-light" href="{{ path('app_admin_auto_glass_index') }}">back to list</a>

    {{ include('admin/auto_glass/_delete_form.html.twig') }}
{% endblock %}
