<form method="post" action="{{ path('app_admin_tyres_delete', {'id': tyre.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tyre.id) }}">
    <button class="btn">Delete</button>
</form>
