{% extends 'base.html.twig' %}

{% block title %}Edit Tyres{% endblock %}

{% block body %}
    <h1>Edit Tyres</h1>

    {{ include('admin/tyres/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_admin_tyres_index') }}">back to list</a>

    {{ include('admin/tyres/_delete_form.html.twig') }}
{% endblock %}
